.fcl {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 7px darkgrey;
    width: 100%;
    height: 100%;
}

.fcl-hidden {
    display: none;
}
.slider {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 20vh;
}
.arrow {
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: aliceblue;
}
.arrow:hover {
    cursor: pointer;
}
.arrow-left {
    left: 1rem;
}
.arrow-right {
    right: 1rem;
}

/*.slider{
    margin: 0 10vw 0 10vw;
    display: flex;
    flex-direction: column;
    width: 80vw;
    justify-content: center;
    align-content: space-between;
}
.page-btn {
    border: none;
    background-image: linear-gradient(to right, var(--primary-linear-gradient));
    color: var(--neutral-white);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    box-shadow: 0px 3px 3px lightgrey;
    cursor: pointer;
}
.disabled{

    padding: 0.5rem 1rem;
    border-radius: 10px;
    box-shadow: 0px 3px 3px lightgrey;
    cursor: pointer;
}*/
