.container {
  max-width: 90%;
  margin: 1rem 2rem;
}

:root {
  --neutral-grey: rgba(255, 255, 255, .2);
  --neutral-violet: hsl(281, 73%, 45%);
  --neutral-dark-grayish-blue: hsl(233, 14%, 22%);
  --neutral-white: hsl(0, 0%, 100%);
  --primary-linear-gradient: hsl(248, 97%, 46%), hsl(281, 73%, 45%);
}


