
.card-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5rem;
  }
  
  .card {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    background-color: var(--neutral-grey);
    color: var(--neutral-dark-grayish-blue);
    transform-style: preserve-3d;
    transition: 150ms;
    cursor: pointer;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y,0));
    height: 15vh;
    width: 300px;
    margin: 5px;
    border: 1px solid purple;
  }
  .card-hidden{
    display: none;
  }
  .card:hover{
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
  }
  .card.flip {
    --rotate-y:180deg;
    border: none;
  }

  .card .front,
  .card .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
  }
  
  .card .back {
    transform: rotateY(180deg);
    text-align: center;
  
  }
  
  .card .front {
    margin-top: 0.5rem;
    display: grid;
    place-items: center;
    gap: 1rem;

  }
  
  .f-pronunciation {
    margin-top: .5rem;
    margin-bottom: .5rem;
    color: var(--neutral-violet);
    font-size: .85rem;
  }